### Association Rule Learning:

In [1]:
# Importing the required libraries: 
import numpy as np
import pandas as pd

In [29]:
# Extracting the dataset: 
df = pd.read_csv('Market_Basket_Optimisation.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### EDA:

In [30]:
# Checking the shape of the dataset: 
df.shape

(7501, 20)

In [31]:
# Total number of nan
df.isna().sum()

0        0
1     1754
2     3112
3     4156
4     4972
5     5637
6     6132
7     6520
8     6847
9     7106
10    7245
11    7347
12    7414
13    7454
14    7476
15    7493
16    7497
17    7497
18    7498
19    7500
dtype: int64

#### Algorithm:

In [43]:
# Convering the dataset into one giant list: 
items = []
for i in range(0, df.shape[0]):
    for j in range(0, df.shape[1]):
        items.append(str(df.iloc[i,j]))

In [44]:
from apyori import apriori
rules = apriori(items, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2)

#### Rules:

In [45]:
rules

In [46]:
associations = list(rules)

In [74]:
associations[0]

RelationRecord(items=frozenset({'b', ' '}), support=0.023070257299026797, ordered_statistics=[OrderedStatistic(items_base=frozenset({' '}), items_add=frozenset({'b'}), confidence=0.2512705096558734, lift=7.451196255895262), OrderedStatistic(items_base=frozenset({'b'}), items_add=frozenset({' '}), confidence=0.6841272978849575, lift=7.451196255895261)])